%nav.flex-column
  .nav-link
    = link_to 'Teams', :teams
  .nav-link
    = link_to 'Tournaments', :tournaments
  .nav-link
    - if logged?
      = link_to 'Sign Out', :logout
    - else
      = link_to 'Sign In', :login